@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --yellow: #f2cdac;
  --cyan: #82c9d7;
  --navy: #626070;
  --red: #c94736;
  --purple: #826cb0;
  --turquoise: #597c7c;
  --brown: #93674f;
  --magenta: #934f6f;
  --blue: #3f82b2;
  --navy-grey: #97a0ac;
  --army-green: #7f9161;
  --pink: #af81ba;
  --gold: #cab361;
  --orange: #be6c49;
  --green: #277c78;
  --icon: #b3b3b3;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.light {
  --background: 248, 244, 240;
  --primary-text: 32, 31, 36;
  --secondary-text: 105, 104, 104;
  --card-back-ground: 255, 255, 255;
  --navbar: 32, 31, 36;
  --highlighted-card: 32, 31, 36;
  --seperator: 242, 242, 242;
  --border: 152, 144, 139;
}

.dark {
  --background: 18, 18, 18;
  --primary-text: 224, 224, 224;
  --secondary-text: 176, 176, 176;
  --card-back-ground: 35, 35, 35;
  --navbar: 26, 26, 26;
  --highlighted-card: 38, 128, 119;
  --seperator: 68, 68, 68;
  --border: 120, 120, 120;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
.loader {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid var(--green);
  animation: prixClipFix 2s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}
