@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --yellow: #f2cdac;
  --cyan: #82c9d7;
  --navy: #626070;
  --red: #c94736;
  --purple: #826cb0;
  --turquoise: #597c7c;
  --brown: #93674f;
  --magenta: #934f6f;
  --blue: #3f82b2;
  --navy-grey: #97a0ac;
  --army-green: #7f9161;
  --pink: #af81ba;
  --gold: #cab361;
  --orange: #be6c49;
  --green: #277c78;
}

.light {
  --background: 248, 244, 240;
  --primary-text: 32, 31, 36;
  --secondary-text: 105, 104, 104;
  --card-back-ground: 0, 0, 0;
  --navbar: 32, 31, 36;
  --highlighted-card: 32, 31, 36;
  --seperator: 242, 242, 242;
}

.dark {
  --background: 18, 18, 18;
  --primary-text: 224, 224, 224;
  --secondary-text: 176, 176, 176;
  --card-back-ground: 35, 35, 35;
  --navbar: 26, 26, 26;
  --highlighted-card: 38, 128, 119;
  --seperator: 68, 68, 68;
}
